body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    user-select: none;
}

.index__body {
    background-color: #8BB8E2;
    position: relative;
}

.header__logo {
    width: 45px;
    height: 54px;
    position: absolute;
    top: 65px;
    left: 65px;
    transition: transform .7s ease-in-out;
}

.header__logo:hover {
    transform: rotate(270deg);
}

.header__nav {
    position: absolute;
    transform: rotate(270deg);
    left: -90px;
    top: 365px;
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.header__nav__link {
    font-family: "Poppins", sans-serif;
    color: #FCF5EC;
    font-size: 18px;
    text-decoration: none;
    transition: all .1s linear;
}

.active {
    color: #F8DD6A;
}

.header__nav__link:hover, .header__nav__link:active {
    color: #F8DD6A;
    text-decoration: none;
}

.socials__wrapper {
    position: absolute;
    top: 80px;
    right: 80px;
}

.socials {
    font-size: 24px !important;
    color: #FCF5EC;
    margin-left: 15px;
    transition: all .2s linear;
}

.socials:hover, .socials:active {
    color: #F8DD6A;
}

/* about page specific styles */

.about__cloud {
    position: absolute;
    top: 5%;
    left: 42%;
    height: 908px;
    width: auto;
    pointer-events: none;
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1.5s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.about__header {
    font-family: "Playfair Display", serif;
    font-size: 82px;
    color: #F8DD6A;
    margin-left: 245px;
    padding-top: 150px;
    z-index: 99;
    position: relative;
    pointer-events: none;
}

.about__container {
    margin-top: 30px;
    margin-left: 245px;
    display: flex;
    flex-direction: row;
}

.about__selfie {
    width: 330px;
    height: 430px;
}

.about__bio {
    width: 617px;
    margin-left: 75px;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    line-height: 33px;
    color: #FCF5EC;
    font-weight: 200;
}

.about__bio p {
    margin-top: 0;
    margin-bottom: 34px;
}

.about__bio p span {
    color: #7A55E7;
}
