body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    user-select: none;
}

.index__body {
    background-color: #8BB8E2;
    position: relative;
}

.header__logo {
    width: 45px;
    height: 54px;
    position: absolute;
    top: 65px;
    left: 65px;
    transition: transform .7s ease-in-out;
}

.header__logo:hover {
    transform: rotate(270deg);
}

.header__nav {
    position: absolute;
    transform: rotate(270deg);
    left: -90px;
    top: 365px;
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.header__nav__link {
    font-family: "Poppins", sans-serif;
    color: #FCF5EC;
    font-size: 18px;
    text-decoration: none;
    transition: all .1s linear;
}

.active {
    color: #F8DD6A;
}

.header__nav__link:hover, .header__nav__link:active {
    color: #F8DD6A;
    text-decoration: none;
}

.socials__wrapper {
    position: absolute;
    top: 80px;
    right: 80px;
}

.socials {
    font-size: 24px !important;
    color: #FCF5EC;
    margin-left: 15px;
    transition: all .2s linear;
}

.socials:hover, .socials:active {
    color: #F8DD6A;
}

/* project page specific styles */

.projects__cloud {
    position: absolute;
    top: 5%;
    left: 72%;
    height: 908px;
    width: auto;
    pointer-events: none;
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1.5s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.projects__header {
    font-family: "Playfair Display", serif;
    font-size: 82px;
    color: #F8DD6A;
    margin-left: 245px;
    padding-top: 150px;
    z-index: 99;
    position: relative;
    pointer-events: none;
}

.projects__container {
    margin-top: 45px;
    margin-left: 245px;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.projects__row {
    display: flex;
    flex-direction: row;
}

.demo__gif {
    border-radius: 46px;
    height: 630px;
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, .25));
    transition: all .2s linear;
    margin-right: 65px;
}

.demo__text {
    color: #FCF5EC;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    margin-right: 65px;
    line-height: 26px;
    font-weight: 300;
    border: #FCF5EC 3px solid;
    padding:20px 30px;
    border-radius: 30px;
}

/* link box */
.linkBox {
    justify-content: space-around;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}
.cool,.cool:visited,.cool:hover,.cool:active{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#FCF5EC;
    font-size:30px;
    font-weight: 300;
}

.cool.before:before,.cool.after:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
}
.cool.before:before{
    top:-0.25em;
}
.cool.after:after{
    bottom:-0.25em;
}
.cool.before:before,.cool.after:after{
    height:3px;
    width:0;
    background:#FCF5EC;
}

.cool.before:hover:before,.cool.after:hover:after{
    width:100%;
}

.cool.first:after{
    left:0;
}
.smallBox {
    transition:0.5s all ease-in-out;
    border: #FCF5EC 3px solid;
    padding:30px 40px;
    border-radius: 30px;
    margin-right: 45px;
}

/* web media queries */
@media (min-width: 2000px) {
    .socials {
        font-size: 34px !important;
    }
    .header__logo {
        width: 90px;
        height: 110px;
    }
    .header__nav__link {
        font-size: 26px;
    }
    .header__nav {
        left: -125px;
        top: 490px;
        width: 480px;
    }
}

@media (max-width: 1200px) {
    .header__nav__link {
        font-size: 16px;
    }
    .header__nav {
        width: 320px;
        left: -70px;
        top: 330px;
    }
    .socials__wrapper {
        right: 40px;
    }
}

@media (max-width: 1070px) {
    .socials__wrapper {
        right: 0;
    }
}

@media (max-width: 1000px) {
    .socials__wrapper {
        right: 40px;
    }
}

@media (max-width: 900px) {
    .socials {
        font-size: 20px !important;
        margin-left: 10px;
    }
    .header__logo {
        left: 35px;
        top: 35px;
    }
    .header__nav__link {
        font-size: 14px;
    }
    .header__nav {
        left: -70px;
        top: 265px;
        width: 260px;
    }
    .socials__wrapper {
        top: 50px;
        right: 30px;
    }
}

@media (max-width: 830px) {
    .socials__wrapper {
        right: 0;
    }
}

@media (max-width: 780px) {
    .socials__wrapper {
        right: -30px;
    }
}

/* mobile/tablet media queries */
@media (max-width: 768px) {
    .header__nav {
        display: none;
    }
}

