.index__body {
    background-color: #8BB8E2;
    position: relative;
}

.header__logo {
    width: 45px;
    height: 54px;
    position: absolute;
    top: 65px;
    left: 65px;
}

.socials__wrapper {
    position: absolute;
    top: 80px;
    right: 80px;
}

.socials {
    font-size: 24px !important;
    color: #FCF5EC;
    margin-left: 15px;
    transition: all .2s linear;
}

.socials:hover, .socials:active {
    color: #F8DD6A;
}

/* index specific styles */

.index__rocket {
    position: absolute;
    top: 8%;
    right: 5%;
    height: 750px;
    width: auto;
    pointer-events: none;
}

.index__header1 {
     font-family: "Playfair Display", serif;
     font-size: 82px;
     color: #F8DD6A;
     margin-left: 245px;
     padding-top: 150px;
     margin-bottom: -14px;
 }

.index__header2 {
    font-family: "Playfair Display", serif;
    font-size: 82px;
    color: #F8DD6A;
    margin-left: 245px;
}

.smiley {
    font-size: 40px !important;
    color: #F8DD6A;
    margin-top: 20px;
}
