body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    user-select: none;
}

.index__body {
    background-color: #8BB8E2;
    position: relative;
}

.header__logo {
    width: 45px;
    height: 54px;
    position: absolute;
    top: 65px;
    left: 65px;
    transition: transform .7s ease-in-out;
}

.header__logo:hover {
    transform: rotate(270deg);
}

.header__nav {
    position: absolute;
    transform: rotate(270deg);
    left: -90px;
    top: 365px;
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.header__nav__link {
    font-family: "Poppins", sans-serif;
    color: #FCF5EC;
    font-size: 18px;
    text-decoration: none;
    transition: all .1s linear;
}

.active {
    color: #F8DD6A;
}

.header__nav__link:hover, .header__nav__link:active {
    color: #F8DD6A;
    text-decoration: none;
}

.socials__wrapper {
    position: absolute;
    top: 80px;
    right: 80px;
}

.socials {
    font-size: 24px !important;
    color: #FCF5EC;
    margin-left: 15px;
    transition: all .2s linear;
}

.socials:hover, .socials:active {
    color: #F8DD6A;
}

/*.navbar-toggle {*/
/*    border: none;*/
/*    background: transparent !important;*/
/*    display: none;*/
/*    position: absolute;*/
/*    left: 85px;*/
/*    top: 35px;*/
/*}*/

/* index specific styles */

.index__rocket {
    position: absolute;
    top: 8%;
    left: 40%;
    height: 750px;
    width: auto;
    pointer-events: none;
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1.5s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.index__header1 {
     font-family: "Playfair Display", serif;
     font-size: 82px;
     color: #F8DD6A;
     margin-left: 245px;
     padding-top: 150px;
     margin-bottom: -14px;
    pointer-events: none;
    z-index: 99;
    position: relative;
 }

.index__header2 {
    font-family: "Playfair Display", serif;
    font-size: 82px;
    color: #F8DD6A;
    margin-left: 245px;
    pointer-events: none;
    z-index: 99;
    position: relative;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.smiley {
    font-size: 40px !important;
    color: #F8DD6A;
    margin-top: 20px;
    animation: rotating 4s linear infinite;
    z-index: 99;
    position: relative;
}

.index__greeting {
    margin-left: 245px;
    font-size: 72px;
    color: #7A55E7;
    width: 383px;
    font-family: "Poppins", sans-serif;
    line-height: 80px;
    margin-top: 138px;
    z-index: 99;
    position: relative;
}

/* web media queries */
@media (min-width: 2000px) {
    .index__header1, .index__header2 {
        margin-left: 310px !important;
        font-size: 134px !important;
    }
    .index__greeting {
        margin-left: 310px;
        font-size: 110px !important;
        line-height: 120px !important;
        width: 700px !important;
    }
    .index__rocket {
        left: 45%;
        height: 1050px !important;
    }
    .socials {
        font-size: 34px !important;
    }
    .header__logo {
        width: 90px;
        height: 110px;
    }
    .header__nav__link {
        font-size: 26px;
    }
    .header__nav {
        left: -125px;
        top: 490px;
        width: 480px;
    }
}

@media (min-width: 1650px) {
    .index__rocket {
        top: 0;
        height: 950px;
    }
    .index__header1, .index__header2 {
        font-size: 104px;
        margin-left: 250px;
    }
    .index__greeting {
        font-size: 86px;
        width: 420px;
        line-height: 96px;
    }
    .smiley {
        font-size: 60px !important;
    }
}

@media (max-width: 1365px) {
    .index__rocket {
        left: 45%;
        height: 650px;
    }
}

@media (max-width: 1200px) {
    .index__rocket {
        left: 40%;
    }
    .index__header1, .index__header2 {
        font-size: 64px;
        margin-left: 200px;
    }
    .smiley {
        font-size: 34px !important;
    }
    .index__greeting {
        font-size: 56px;
        margin-top: 115px;
        line-height: 60px;
        margin-left: 200px;
    }
    .header__nav__link {
        font-size: 16px;
    }
    .header__nav {
        width: 320px;
        left: -70px;
        top: 330px;
    }
    .socials__wrapper {
        right: 40px;
    }
}

@media (max-width: 1070px) {
    .socials__wrapper {
        right: 0;
    }
}

@media (max-width: 1000px) {
    .index__rocket {
        height: 550px;
        top: 15%;
    }
    .socials__wrapper {
        right: 40px;
    }
}

@media (max-width: 900px) {
    .index__rocket {
        height: 500px;
        top: 8%;
    }
    .index__header1, .index__header2 {
        font-size: 50px;
        margin-left: 140px;
    }
    .index__greeting {
        font-size: 40px;
        margin-top: 65px;
        line-height: 44px;
        margin-left: 140px;
    }
    .socials {
        font-size: 20px !important;
        margin-left: 10px;
    }
    .header__logo {
        left: 35px;
        top: 35px;
    }
    .header__nav__link {
        font-size: 14px;
    }
    .header__nav {
        left: -70px;
        top: 265px;
        width: 260px;
    }
    .index__header1 {
        padding-top: 110px;
    }
    .socials__wrapper {
        top: 50px;
        right: 30px;
    }
}

@media (max-width: 830px) {
    .socials__wrapper {
        right: 0;
    }
}

@media (max-width: 780px) {
    .socials__wrapper {
        right: -30px;
    }
}

/* mobile/tablet media queries */
@media (max-width: 768px) {
    .header__nav {
        display: none;
    }
}
