body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    user-select: none;
}

.index__body {
    background-color: #8BB8E2;
    position: relative;
}

.header__logo {
    width: 45px;
    height: 54px;
    position: absolute;
    top: 65px;
    left: 65px;
    transition: transform .7s ease-in-out;
}

.header__logo:hover {
    transform: rotate(270deg);
}

.header__nav {
    position: absolute;
    transform: rotate(270deg);
    left: -90px;
    top: 365px;
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.header__nav__link {
    font-family: "Poppins", sans-serif;
    color: #FCF5EC;
    font-size: 18px;
    text-decoration: none;
    transition: all .1s linear;
}

.active {
    color: #F8DD6A;
}

.header__nav__link:hover, .header__nav__link:active {
    color: #F8DD6A;
    text-decoration: none;
}

.socials__wrapper {
    position: absolute;
    top: 80px;
    right: 80px;
}

.socials {
    font-size: 24px !important;
    color: #FCF5EC;
    margin-left: 15px;
    transition: all .2s linear;
}

.socials:hover, .socials:active {
    color: #F8DD6A;
}

/* project page specific styles */

.projects__cloud {
    position: absolute;
    top: 5%;
    left: 37%;
    height: 908px;
    width: auto;
    pointer-events: none;
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1.5s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.projects__header {
    font-family: "Playfair Display", serif;
    font-size: 82px;
    color: #F8DD6A;
    margin-left: 245px;
    padding-top: 150px;
    z-index: 99;
    position: relative;
    pointer-events: none;
}

.projects__container {
    margin-top: 75px;
    margin-left: 245px;
    display: flex;
    flex-direction: column;
}

.projects__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 85px;
}

.projects__card {
    margin-right: 103px;
    /*filter: drop-shadow(10px 10px 0px #7A55E7);*/
    transition: all .4s linear;
}

.projects__card:hover, .projects__card:active {
    filter: drop-shadow(0 0 20px #FFF);
}

.projects__image {
    border-radius: 30px;
    width: 500px;
    height: 300px;
    object-fit: cover;
    transition: all .4s linear;
}

.projects__image:hover, .projects__image:active {
    filter: brightness(30%);
}
